.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* App.css */
.app-container {
  width: 402px; /* 휴대폰 너비 */
  height: 874px; /* 휴대폰 높이 */
  margin: 0 auto; /* 화면 중앙 정렬 */
  border: 1px solid #ccc; /* 디버그용 테두리 */
  background-color: var(--lightgray-0); /* 전역 변수 사용 */
  overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
  display: flex;
  flex-direction: column; /* 플렉스 레이아웃 */
  justify-content: center;
  align-items: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
